@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:opsz,wght@9..144,700;9..144,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1rem;
}
:root {
    --bg-color-red:  hsl(7, 99%, 70%);
    --bg-color-yellow: hsl(51, 100%, 49%);
    --graphic-design-text:  hsl(167, 40%, 24%);
    --photography-text: hsl(198, 62%, 26%);
    --bg-color-footer: hsl(168, 34%, 41%);
    --bg-color-dark-blue:  hsl(212, 27%, 19%);
    --bg-color-very-dark-grayish-blue: hsl(213, 9%, 39%);
    --bg-color-dark-grayish-blue:  hsl(232, 10%, 55%);
    --bg-color-grayish-blue: hsl(210, 4%, 67%);
    --bg-color-white:  hsl(0, 0%, 100%);
}

header {
    width: 100%;
    background: url('/images/desktop/image-header.jpg');
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.nav-items {
    display: flex;
}

