@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:opsz,wght@9..144,700;9..144,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 10px;
}
:root {
    --bg-color-red:  hsl(7, 99%, 70%);
    --bg-color-yellow: hsl(51, 100%, 49%);
    --graphic-design-text:  hsl(167, 40%, 24%);
    --photography-text: hsl(198, 62%, 26%);
    --bg-color-footer: hsl(168, 34%, 41%);
    --bg-color-dark-blue:  hsl(212, 27%, 19%);
    --bg-color-very-dark-grayish-blue: hsl(213, 9%, 39%);
    --bg-color-dark-grayish-blue:  hsl(232, 10%, 55%);
    --bg-color-grayish-blue: hsl(210, 4%, 67%);
    --bg-color-white:  hsl(0, 0%, 100%);
}
header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-image: url('/images/desktop/image-header.jpg');
    background-size: cover;
    padding: 2rem;
}
nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.nav-items {
    display: flex;

}

header h2 {
    font-size: 5rem;
}

.containers {
    width: 100%;
    height: 50%;
}
.container {
    display: flex;
    width: 100%;
}
.container section {
    width: 50%;
}
.image img {
    width: 100%;
    max-height: 430px;

}
.description {

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    padding: 2rem;
    width: 50%;
    max-height: 430px;
}

.description h3 {
    font-size: 3rem;
}
.description p {
    font-size: 1.6rem;
}
#learn-more {
    font-size: 1.8rem;
}

#graphic-design {
    background: url('/images/desktop/image-graphic-design.jpg');
    background-size: cover;
    height: 430px;

}

#photography {
    background: url('/images/desktop/image-photography.jpg');
    height: 430px;
}
.client-testimonials {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.clients-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.client {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.client img {
    width: 70px;
    border-radius: 50px;
}

footer {
    width: 100%;
    background: var(--bg-color-footer);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 200px;
}

.images-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.images-container img {
    max-width: 400px;
}

#img-orange {
    max-width: 427px;
}
